<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="postgres"
			connectionString="Server=127.0.0.1;Port=5432;User Id=postgres;Password=123QWEasdf;Database=plorg_db;"/>
    <add name="mysql"
      connectionString="Server=127.0.0.1;Port=3306;Database=plorg_db;Uid=root;Pwd=root;"/>
	</connectionStrings>
	<appSettings>
		<add key="readonlyMode" value="false"/>
    <!--postgres/mysql-->
    <add key="database" value="postgres"/>
	</appSettings>
</configuration>
